html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.fonts-roboto {
  font-family: 'Roboto', sans-serif;
}

.fonts-spartan {
  font-family: 'Spartan', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {   background-color: #e3a1bd !important; }
